{% extends "two_factor/_base_focus.html" %}
{% load i18n %}
{% block title %}Disable two-factor - Murphy's Bench{% endblock %}
{% block content %}
<h2 class="h2 mb-2">Disable two-factor authentication</h2>
<div class="alert alert-warning">Disabling two-factor authentication makes your account less secure. Only your password will be needed to sign in.</div>
<form method="post">
    {% csrf_token %}
    {% if form %}{{ form.as_p }}{% endif %}
    <div class="form-footer d-flex align-items-center"><a href="{% url 'two_factor:profile' %}" class="btn">Cancel</a><button type="submit" class="btn btn-outline-danger ms-auto">Yes, disable two-factor</button></div>
</form>
{% endblock %}
