{% extends "core/base_tabler.html" %}
{% load mb_tabler %}

{% block title %}{{ sale.sale_number }} - Register - Murphy's Bench{% endblock %}
{% block room %}register{% endblock %}

{% block page_header %}
<div class="page-header d-print-none">
    <div class="container-fluid">
        <div class="row g-2 align-items-center">
            <div class="col"><div class="page-pretitle"><a href="{% url 'core:pos_home' %}">Register</a></div><h2 class="page-title">{{ sale.sale_number }}</h2><div class="text-secondary">{{ sale.display_name }}</div></div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row row-cards">
    <div class="col-12 col-lg-7">
        {% include "core/partials/sale_customer_card.html" %}
        {% include "core/partials/sale_line_items_editor.html" %}
    </div>
    <div class="col-12 col-lg-5">
        {% include "core/partials/sale_checkout_card.html" %}
    </div>
</div>
{% endblock %}
