{% load mb_tabler %}
{{ wizard.management_form }}
{% for field in wizard.form %}
    {% if field.is_hidden %}{{ field }}{% else %}
    <div class="mb-3">
        {% if field.field.widget.input_type == 'checkbox' %}
        <label class="form-check">{{ field|tabler_input }}<span class="form-check-label">{{ field.label }}</span>{% if field.help_text %}<span class="form-check-description">{{ field.help_text }}</span>{% endif %}</label>
        {% else %}
        <label class="form-label {% if field.field.required %}required{% endif %}" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|tabler_input }}
        {% if field.help_text %}<div class="form-hint">{{ field.help_text }}</div>{% endif %}
        {% endif %}
        {% for error in field.errors %}<div class="invalid-feedback d-block">{{ error }}</div>{% endfor %}
    </div>
    {% endif %}
{% endfor %}
{% if wizard.form.non_field_errors %}<div class="alert alert-danger">{% for error in wizard.form.non_field_errors %}<div>{{ error }}</div>{% endfor %}</div>{% endif %}
